name: Semantic Release BE

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: Cartify-BE

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '21'
          cache: maven

      - name: Install Maven dependencies
        run: mvn clean install -DskipTests

      - name: Force git auth to use PAT
        run: |
          git config --global user.name "semantic-bot"
          git config --global user.email "actions@github.com"
          git remote set-url origin https://CzeliZoltan:${{ secrets.GH_TOKEN }}@github.com/UO-CTI-CG/proiect-ubd-2025-2026-CzeliZoltan.git

      - name: Debug git remote
        run: git remote -v

      - name: Fetch all tags
        run: git fetch --tags --force

      - name: Run semantic release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npx semantic-release
